/*star black color*/
.dd-select {
  border: solid 1px #333333;
  background: #333333;
}

.registration-block form button {
  background: #333333;
}

.form-group label {
  color: #333333;
}

.social-btn-block button {
  background: #333333;
}

.btn-style {
  background: #333333;
}

.content-item-info a {
  color: #333333
}

.modal.feedback .modal-body button {
  background: #333333;
}

.btn-style.close_modal {
  background: #333333;
}

/*end black color*/

@import "../../node_modules/reset-css/reset.scss";
@import "../../node_modules/swiper/dist/css/swiper.min.css";

@import "_partials/fonts";

.submit-button {
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  border-radius: 15px;
  color: #fff;
  font-size: 14px;
  border: none;
  height: 29px;
  min-width: 222px;
  cursor: pointer;
}

.form-group input[type='checkbox'] {
  height: 17px;
  border-radius: 15px;
  padding-left: 15px;
}

.btn-style.close_modal {
  outline: 0;
  position: relative;
  right: 10px;
  top: 10px;
  border-radius: 15px;
  color: #fff;
  font-size: 14px;
  min-width: 222px;
  border: none;
  height: 29px;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  z-index: 10;
}

a {
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.content-item_block .swiper-button-next, .swiper-button-prev {
  top: 45%;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url(http://static.iperawifi.com/themes/template1/img/next.png);
  width: 44px;
  background-size: contain;
  z-index: 1;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url(http://static.iperawifi.com/themes/template1/img/back.png);
  width: 44px;
  background-size: contain;
  z-index: 1;
}

* {
  box-sizing: border-box;
}

button, input, select {
  outline: none;
}

html {
  height: 100%;
}

body {
  font-family: "OpenSans", sans-serif;
  padding: 50px 75px;
  line-height: 1.2;
  color: #333;
  position: relative;
  background: linear-gradient(to right, #f0f0f0 0%, #f0f0f0 15%, #f0f0f0 15%, white 15%, white 85%, #f0f0f0 85%, #f0f0f0 100%);
}

a {
  text-decoration: none;
}

.content-block {
  background: url(http://static.iperawifi.com/themes/template1/img/background.png) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
}

.language_select {
  position: absolute;
  top: 20px;
  right: 25px;
  z-index: 10;
  .dd-options {
    padding-top: 20px;
    top: 17px;
    z-index: 5;
  }
  .dd-select {
    border-radius: 30px;
    height: 35px;
    z-index: 10;
  }
  .dd-selected {
    padding: 0 5px;
  }
  .dd-pointer-down {
    border: solid 5px transparent;
    border-top: solid 5px #fff;
  }
  .dd-selected-text {
    color: #fff;
    font-size: 13px;
  }
  .dd-option-image, .dd-selected-image {
    margin-top: 4px;
  }
  .dd-pointer-up {
    border-bottom: solid 5px #fff !important;
  }
  .dd-option-text {
    line-height: 20px;
    font-size: 13px;
  }
  .dd-option {
    max-height: 35px;
    padding: 0 5px 5px;
  }
}

.btn-style {
  border-radius: 15px;
  color: #fff;
  font-size: 14px;
  min-width: 222px;
  border: none;
  height: 31px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 30px;
}

.content-block-column {
  margin: -20px 12px 0;
  width: 830px;
  -webkit-box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.20);
  box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.20)
}

.registration-block {
  background: #fff;
  padding: 25px 35px;
  text-align: center;
  //max-height: 855px;
  position: relative;
  p.info {
    font-size: 16px;
    margin: 15px 0;
  }
  p.title {
    font-size: 27px;
    font-family: 'LibreBaskerville';
  }
  form {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    button {
      display: block;
      margin: 10px auto 20px;
    }
  }
  .condition_link {
    font-size: 12px;
    color: #808080;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 15px 0;
  }
}

.social-login {
  border-top: 1px solid #E4E4E4;
  padding-top: 20px;
  .btn-style {
    width: 100%;
    max-width: 290px;
    height: 31px;
    display: block;
    margin: 0 auto;
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
    position: relative;
    i {
      position: absolute;
      left: 40px;
      top: 9px;
    }
  }
  .btn-facebook {
    background: #39579B;
    margin-bottom: 11px;
    line-height: 31px;
  }
  .btn-twitter {
    background: #51AAF2;
    margin-bottom: 11px;
  }
  .btn-gplus {
    background: #DF4A33;
  }
}

.form-group {
  label {
    display: block;
    font-weight: 500;
    margin: 10px 0;
  }
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    outline: none;
    border: 1px solid #E5E5E5;
    height: 42px;
    padding-left: 18px;
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;

    }

  }
  .form-control {
    width: 100%;
  }
  select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-indent: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: 1px solid #E5E5E5;
    height: 42px;
    padding-left: 18px;
    outline: none;
  }
  .country-code-list {
    width: 70px;
    margin-right: 7px;
    display: inline-block;
  }
  input[name=phone] {
    width: 144px;
    display: inline-block;
  }

  input[name=gender] {
    width: 222px;
  }
  select:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: black;
  }
}

.column-registration {
  max-width: 495px;
}

.column-registration-logo {
  max-width: 250px;
}

.social-btn-block {
  margin-top: 20px;
  margin-bottom: -20px;
  background: #fff;
  padding: 20px 60px;
  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    &:before, &:after {
      content: '';
      display: inline-block;
      height: 1px;
      background: #E4E4E4;
      position: absolute;
      top: 50%;
    }
    &:before {
      left: 0;
      right: 60%;
    }
    &:after {
      left: 60%;
      right: 0;
    }

  }
  .social-btn {
    text-align: center;
    a {
      color: #333;
      font-size: 20px;
      display: inline-block;
      margin: 0 15px;
    }
  }
  button {
    margin: 15px auto 0;
    display: block;
  }
}

.slider-block .swiper-slide {
  img {
    min-width: 100%;
    min-height: 100%;
  }
}

.slider-pagination {
  position: absolute;
  text-align: center;
  z-index: 10;
}

.swiper-pagination-bullet {
  background: #fff;
  opacity: .4;
  width: 11px;
  height: 11px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 2px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.content-item_block {
  margin: 20px -7px;
  display: flex;
  position: relative;
  overflow: hidden;
  .content-item {
    margin: 0 7px;
    background: #fff;
    width: 196px;
    max-height: 233px;
  }
  .img-wrap {
    height: 130px;
    overflow: hidden;
    img {
      min-width: 100%;
      min-height: 100%;
    }
  }
}

.content-item-info {
  padding: 12px 10px;
  strong {
    font-size: 13px;
    font-weight: 600;
  }
  p {
    font-size: 11px;
  }
}

.application_block {
  padding: 31px 40px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -20px;
  min-height: 105px;
  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #666;
    position: relative;
    flex-grow: 1;
    text-align: center;
    &:before, &:after {
      content: '';
      display: inline-block;
      height: 1px;
      background: #E4E4E4;
      position: absolute;
      top: 50%;
    }
    &:before {
      left: 5%;
      right: 70%;
    }
    &:after {
      right: 5%;
      left: 70%;
    }
  }
  .btn-style {
    font-family: 'OpenSans', sans-serif;
    font-weight: normal;
    line-height: 29px;
    text-align: center;
    i {
      margin-right: 5px;
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  &.conditions {
    .modal-content {
      width: 95%;
      max-width: 740px;
    }
    .modal-body {
      padding: 35px 45px;
      text-align: center;
      strong {
        font-family: 'LibreBaskerville';
        font-size: 43px;
        margin-bottom: 20px;
        display: block;
      }
      p {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }
  &.feedback {
    .modal-content {
      width: 95%;
      max-width: 740px;
    }
    .modal-body {
      padding: 35px 50px;
      text-align: center;
      .form_item label {
        color: #333333;
        text-align: left;
        font-size: 14px;
        font-weight: 500;
        font-family: Roboto, sans-serif;
      }
      button {
        margin: 15px auto 0;
        display: block;
      }
      textarea {
        width: 100%;
        height: 95px;
        border: 1px solid #E5E5E5;
        padding: 18px;
        outline: 0;
        font-family: Roboto, sans-serif;
        font-size: 12px;
      }
      input {
        font-family: Roboto, sans-serif;
        font-size: 12px;
      }
      .form_item_wrap {
        display: flex;
        .form_item {
          flex-grow: 1;
          font-size: 12px;
          font-family: Roboto, sans-serif;
          &:first-child {
            margin-right: 20px;
          }
        }
      }
      strong {
        font-family: 'LibreBaskerville';
        font-size: 58px;
        margin-bottom: 20px;
        display: block;
      }
      p {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }
  &.succsess_feedback {
    font-family: 'LibreBaskerville';
    font-size: 42px;
    .modal-content {
      padding: 45px;
      width: 100%;
      max-width: 670px;
      text-align: center;
    }

  }
}

.unique-design {
  display: flex;
  flex-wrap: wrap;
  label {
    width: 100%;
  }
  input {
    width: 50%;
    flex-grow: 1;
  }
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

button.close_modal {
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  z-index: 10;
}

select {
  background: url("http://static.iperawifi.com/themes/template1/img/arrow.jpg") 90% center no-repeat;
}

.slider-block .swiper-slide {
  height: 420px;
  overflow: hidden;
  img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.slider-block {
  .slider-arrow {
    top: 50%;
  }
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@media screen and (max-width: 1919px) {
  .content-item_block {
    .content-item {
      width: 208px;
    }
  }
  .content-block-column {
    width: 652px;
  }

}

@media (min-width: 1376px) and (max-width: 1919px) {
  .application_block {
    p {
      &:before {
        display: none;
      }
      &:after {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1399px) {
  body {
    padding: 50px 50px;
  }
}

@media screen and (max-width: 1376px) {
  .content-item_block {
    .content-item {
      width: 225px;
    }
  }
  .registration-block {
    padding: 35px 35px;
  }

  .application_block {
    justify-content: center;
    flex-direction: column;
  }
  .content-block-column {
    width: 465px;
  }
  //.content-item_block_non{
  //  display: none;
  //}
  .content-item_block {
    flex-wrap: wrap;
    .content-item {
      margin-bottom: 20px;
      &:nth-child(3) {
        margin-bottom: 0;
      }
      &:nth-child(4) {
        margin-bottom: 0;
      }
      &:last-child {
        display: block;
      }
    }
  }
  .application_block {
    padding: 20px 40px;
    p {
      order: 1;
      margin-bottom: 5px;
      &:before {
        left: 110%;
        right: -125%;
      }
      &:after {
        right: 110%;
        left: -125%;
      }
    }
    .btn-style {
      order: 2;
      margin: 5px 0;
    }
  }
  .social-btn-block {
    p {
      &:before {
        right: 65%;
      }
      &:after {
        left: 65%;
      }
    }
  }
  .registration-block {
    p.info {
      margin: 20px 0;
    }
  }
  .registration-block {
    form {
      button {
        margin: 10px auto 25px;
      }
    }
  }
  .social-login {
    padding-top: 25px;
  }
}

@media screen and (min-width: 1040px) {
  .social-btn-block_second {
    display: none;
  }
}

@media screen and (max-width: 1040px) {
  .social-btn-block {
    display: none;
    margin-bottom: -20px;
    margin-top: 40px;
  }
  .social-btn-block_second {
    display: block;

  }
  .content-block {
    flex-direction: column;
    align-items: center;
  }
  .content-block-column {
    margin: 20px 12px 0;
  }
  .column-registration {
    margin: -20px 12px 0;
  }
}

@media screen and (max-width: 767px) {
  body {
    padding: 50px 20px;
  }
}

@media screen and (max-width: 525px) {
  .form-group {
    select {
      padding-left: 10px;
    }
    .birth-day {
      width: 55px;
    }
    .birth-month {
      width: 75px;
    }
    .birth-year {
      width: 75px;
    }
  }
  .content-block-column {
    width: 300px;
  }
  .content-item_block {
    .content-item {
      width: 172px;
      margin-right: 2%;
      margin-left: 2%;
      max-height: 255px;
      margin-bottom: 0;
    }
  }
  .application_block {
    padding: 20px 40px;
    p {
      order: 1;
      margin-bottom: 5px;
      &:before {
        left: 110%;
        right: -85%;
      }
      &:after {
        right: 110%;
        left: -85%;
      }
    }
  }
  .social-btn-block {
    padding: 20px;
  }
  .social-login {
    .btn-style {
      i {
        position: absolute;
        left: 20px;
        top: 9px;
      }
    }
  }
  .language_select {
    right: 5px;
    top:5px;
  }
  .modal.feedback {
    .modal-body {
      strong {
        font-size: 44px;
      }
      .form-group_wrap {
        flex-wrap: wrap;
        .form-group {
          &:first-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  .modal.conditions {
    .modal-body {
      max-height: 440px;
      overflow: scroll;
      z-index: 20;
      strong {
        font-size: 35px;
      }
    }
  }
  .registration-block{
    padding: 20px;
  }
  .column-registration{
    margin-top:-5px;
  }
}

.form_item {
  .user-name {
    width: 100%
  }
}

.form_item {
  label {
    display: block;
    font-weight: 500;
    margin: 10px 0;
  }
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    outline: none;
    border: 1px solid #E5E5E5;
    height: 41px;
    padding-left: 18px;
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;

    }

  }
  .form-control {
    width: 100%;
  }
  select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-indent: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: 1px solid #E5E5E5;
    height: 42px;
    padding-left: 18px;
    outline: none;
  }
  select:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: black;
  }
}

.after-registration {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  display: none;
  p.title {
    text-align: center;
    margin-bottom: 30px;
  }
  p.info {
    color: #333;
    margin-bottom: 20px;
  }
  .btn_feedback {
    max-width: 250px;
    margin: 0 auto 60px;
    text-transform: capitalize;
  }
}

.follow-us-block {
  button {
    padding-left: 45px;
    text-align: left;
    position: relative;
    display: block;
    margin: 0 auto 5px;
    i {
      position: absolute;
      top: 7px;
      left: 23px;
    }
    &.facebook {
      background: linear-gradient(to right, rgba(57, 88, 154, 1) 0%, rgba(0, 114, 185, 1) 100%);
    }
    &.twitter {
      background: linear-gradient(to right, rgba(81, 169, 241, 1) 0%, rgba(81, 206, 241, 1) 100%);
    }
    &.instagram {
      background: linear-gradient(to right, rgba(46, 49, 143, 1) 0%, rgba(237, 122, 64, 1) 100%);
    }
    &.pinterest {
      background: #DE4A33;
    }
  }
}

.powered-by {
  text-align: center;
  display: block;
  background: #fff;
  color: #333;
  text-decoration: none;
  padding: 3px 0;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  &:hover {
    text-decoration: none;
    color: #000;
  }
  img {
    margin-left: 5px;
    height: 22px;
    vertical-align: middle;
  }
}

select::-ms-expand {
  display: none !important;
}

@import "_partials/_color_style.css";